#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.login-text{
    text-align: center;
    box-shadow: none;
}

.login-hero{
  top: 10%;
  box-shadow: none;
  margin-bottom: 50px;
}

.login-title{
    text-align: center;
    font-size: 49px;
}