<ion-content [fullscreen]="true">
 
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card class="login-hero">
          <ion-card-title class="login-title">Awesome Ecommerce</ion-card-title>
          <img src="../../assets/img/loginhero.png" alt="" srcset="">
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="login-text">
        <ion-card-header>
          <ion-card-subtitle>Discover Your Dream</ion-card-subtitle>
          <ion-card-subtitle>Accessories & Apparrels</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <ion-card-title>On Ecommerce</ion-card-title> 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>  



</ion-content>

<ion-footer>
    <ion-row>  
      <ion-col size="2">
         
       </ion-col>
       <ion-col size="8">
         <ion-button (click)="redirectLogin()" expand="block" shape="round">
           Login
         </ion-button>
       </ion-col>
       <ion-col size="2">
         
       </ion-col>
     </ion-row>
</ion-footer>